//====================================================================================================
.header {
	&--home {
		position: absolute;
		z-index: 30;
		width: 100%;
		top: 0;
		left: 0;
		.header__lower {
			background: rgba(255, 255, 255, 0.1);
		}
		&._header-scroll .header__lower {
			background: var(--gr);
			transform: translateY(-100%);
			opacity: 0;
			visibility: hidden;
		}
		&._header-show._header-scroll .header__lower {
			transform: translateY(0);
			opacity: 1;
			visibility: visible;
		}
	}
	&__upper {
		background-color: var(--clr-white);
	}

	&__upper .container {
		@extend %fl-r-ct;
		padding: rem(13) rem(15);
	}

	&__logo {
		&:not(:last-child) {
			margin-right: auto;
		}
	}

	&__workours {
		&:not(:last-child) {
			margin-right: rem(40);
			@media (max-width: $mobileMedium) {
				margin-right: rem(20);
			}
		}
		@media (max-width: $tablet) {
			display: none;
		}
	}

	&__contacts {
		&:not(:last-child) {
			margin-right: rem(40);
			@media (max-width: $mobileMedium) {
				margin-right: rem(20);
			}
		}
		@media (max-width: $mobileSmall) {
			display: none;
		}
	}

	&__callback {
	}

	&__lower {
		padding: rem(12) 0;
		background: var(--gr);
		transition: all 0.32s ease-in-out;
		@media (max-width: $tablet) {
			padding: 0;
		}
	}

	&__lower .container {
		@extend %fl-r-ct;
	}

	&__menu {
	}

	&__search {
		margin-left: auto;
	}
}

//====================================================================================================
